<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ssmspringboot2.dao.mapper.TypeMapper">
    <resultMap id="typeResult" type="TypeDetail">
        <id property="id" column="typeID"/>
        <result property="name" column="typeName"/>
        <association property="generation" javaType="Generation">
            <id property="url" column="generationID"/>
            <result property="name" column="generationName"/>
        </association>
        <association property="damageRelation" javaType="DamageRelation">
            <collection property="half_damage_from" ofType="Type" select="halfDamageFrom" column="tid = typeID"/>
            <collection property="no_damage_from" ofType="Type" select="noDamageFrom" column="tid = typeID"/>
            <collection property="double_damage_from" ofType="Type" select="doubleDamageFrom" column="tid = typeID"/>
            <collection property="half_damage_to" ofType="Type" select="halfDamageTo" column="tid = typeID"/>
            <collection property="no_damage_to" ofType="Type" select="noDamageTo" column="tid = typeID"/>
            <collection property="double_damage_to" ofType="Type" select="doubleDamageTo" column="tid = typeID"/>
        </association>
        <association property="moveDamageClass" javaType="MoveDamageClass">
            <id property="url" column="moveDamageClassId"/>
            <result property="name" column="moveDamageClassName"/>
        </association>
        <collection property="game_Indices" ofType="TypeGameIndex" select="selectGameIndex" column="tid = typeID"/>
        <collection property="moves" ofType="MoveLink" select="selectMoves" column="tid = typeID"/>
        <collection property="pokemon" ofType="TypeSlotPokemon" select="selectPokemon" column="tid = typeID"/>
        <collection property="names" ofType="Name" select="selectName" column="tid = typeID"/>
    </resultMap>
    <select id="selectTypeByID" resultMap="typeResult">
        SELECT
          A.id as typeID,
          A.name as typeName,
          A.generation_id,
          A.move_damage_class_id,
          B.id as generationID,
          B.name as generationName,
          C.id as moveDamageClassId,
          C.name as moveDamageClassName
        FROM
          pokemon_v2_type A LEFT JOIN pokemon_v2_generation B ON A.generation_id = B.id
          LEFT JOIN pokemon_v2_movedamageclass C on A.move_damage_class_id = C.id
        WHERE A.id = #{id}
    </select>
    <select id="halfDamageFrom" resultMap="DamageResult">
        SELECT
          a.id,
          a.damage_factor,
          a.damage_type_id,
          a.target_type_id,
          b.id AS typeId,
          b.name AS typeName
        FROM pokemon_v2_typeefficacy a
        LEFT JOIN  pokemon_v2_type b ON a.damage_type_id = b.id
        WHERE a.target_type_id  = ${tid} AND damage_factor = 50;
    </select>
    <select id="noDamageFrom" resultMap="DamageResult">
        SELECT
          a.id,
          a.damage_factor,
          a.damage_type_id,
          a.target_type_id,
          b.id AS typeId,
          b.name AS typeName
        FROM pokemon_v2_typeefficacy a
        LEFT JOIN  pokemon_v2_type b ON a.damage_type_id = b.id
        WHERE a.target_type_id  = ${tid} AND damage_factor = 0;
    </select>
    <select id="doubleDamageFrom" resultMap="DamageResult">
        SELECT
          a.id,
          a.damage_factor,
          a.damage_type_id,
          a.target_type_id,
          b.id AS typeId,
          b.name AS typeName
        FROM pokemon_v2_typeefficacy a
        LEFT JOIN  pokemon_v2_type b ON a.damage_type_id = b.id
        WHERE a.target_type_id  = ${tid} AND damage_factor = 200;
    </select>
    <select id="halfDamageTo" resultMap="DamageResult">
        SELECT
          a.id,
          a.damage_factor,
          a.damage_type_id,
          a.target_type_id,
          b.id AS typeId,
          b.name AS typeName
        FROM pokemon_v2_typeefficacy a
        LEFT JOIN  pokemon_v2_type b ON a.target_type_id = b.id
        WHERE a.damage_type_id  = ${tid} AND damage_factor = 50;
    </select>
    <select id="noDamageTo" resultMap="DamageResult">
        SELECT
          a.id,
          a.damage_factor,
          a.damage_type_id,
          a.target_type_id,
          b.id AS typeId,
          b.name AS typeName
        FROM pokemon_v2_typeefficacy a
        LEFT JOIN  pokemon_v2_type b ON a.target_type_id = b.id
        WHERE a.damage_type_id  = ${tid} AND damage_factor = 0;
    </select>
    <select id="doubleDamageTo" resultMap="DamageResult">
        SELECT
          a.id,
          a.damage_factor,
          a.damage_type_id,
          a.target_type_id,
          b.id AS typeId,
          b.name AS typeName
        FROM pokemon_v2_typeefficacy a
        LEFT JOIN  pokemon_v2_type b ON a.target_type_id = b.id
        WHERE a.damage_type_id  = ${tid} AND damage_factor = 200;
    </select>
    <resultMap id="DamageResult" type="Type">
        <id property="url" column="typeId"/>
        <result property="name" column="typeName"/>
    </resultMap>
    <select id="selectGameIndex" resultMap="GameIndexResult">
        SELECT
          a.id,
          b.id as gameIndexId,
          b.game_index as gameIndex,
          b.type_id,
          b.generation_id,
          c.id as generationId,
          c.name as generationName
        FROM pokemon_v2_type a LEFT JOIN  pokemon_v2_typegameindex b on a.id = b.type_id
          LEFT JOIN pokemon_v2_generation c on b.generation_id = c.id
        WHERE a.id = ${tid};
    </select>
    <resultMap id="GameIndexResult" type="TypeGameIndex">
        <id column="gameIndexId"/>
        <result property="game_index" column="gameIndex"/>
        <association property="generation" javaType="Generation">
            <id property="url" column="generationId"/>
            <result property="name" column="generationName"/>
        </association>
    </resultMap>
    <select id="selectMoves" resultMap="MoveResult">
        SELECT
          id,
          type_id,
          name
        FROM pokemon_v2_move
        WHERE type_id = ${tid};
    </select>
    <resultMap id="MoveResult" type="MoveLink">
        <id property="url" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    <select id="selectPokemon" resultMap="PokemonResult">
        SELECT
          a.id,
          a.slot,
          a.pokemon_id,
          a.type_id,
          b.id as pokemonId,
          b.name as pokemonName
        FROM pokemon_v2_pokemontype a LEFT JOIN pokemon_v2_pokemon b on a.pokemon_id = b.id
        WHERE type_id = ${tid};
    </select>
    <resultMap id="PokemonResult" type="TypeSlotPokemon">
        <id column="id"/>
        <result property="slot" column="slot"/>
        <association property="pokemon" javaType="PokemonLink">
            <id property="url" column="pokemonId"/>
            <result property="name" column="pokemonName"/>
        </association>
    </resultMap>
    <select id="selectName" resultMap="NameResult">
        SELECT
          a.id,
          a.language_id,
          a.type_id,
          a.name,
          b.id as languageId,
          b.name as languageName
        FROM pokemon_v2_typename a LEFT JOIN pokemon_v2_language b on a.language_id = b.id
        WHERE type_id = ${tid};
    </select>
    <resultMap id="NameResult" type="Name">
        <id column="id"/>
        <result property="name" column="name"/>
        <association property="language" javaType="Language">
            <id property="url" column="languageId"/>
            <result property="name" column="languageName"/>
        </association>
    </resultMap>
</mapper>