<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ssmspringboot2.dao.TypeMapper">
    <resultMap id="typeResult" type="TypeDetail">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    <select id="selectTypeByID" resultMap="typeResult">
        select * from pokemon_v2_type where id = #{id}
    </select>
</mapper>